/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #4e9b57;
  --secondary: #e5f8e3;
  --terciary: #f8e688;
  --primary-text: #ffffff;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
