<div class="wrapper fadeInDown">
    <div id="formContentLog">
      <h1><b>Usuario</b></h1>
      <br>
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo Electronico">
        
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      </form>
      <button class="button"><b>Ingresar</b></button>
    </div>
  </div>
  <br>
  <div class="wrapper fadeInDown">
    <div id="formContentSign">
      <h1><b>Registrate</b></h1>
      <br>
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Apellido">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo Electronico">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      </form>
      <button class="button"><b>Crear Cuenta</b></button>
      <div id="formFooter">
        <p>¿Estas Registrado?</p>
        <a href="#"><b>Iniciar Sesion</b></a>
      </div>
    </div>
  </div>