<!--Modal content-->
<div class="section over-hide">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section text-center py-5 py-md-0">
          <input class="login" type="checkbox" id="login" name="login" />
          <input class="register" type="checkbox" id="register" name="register" />
          <input class="rTOl" type="checkbox" id="rTOl" name="rTOl" />
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper-1">
              <div class="card-front">
                <div id="formContentHome">
                  <h2><b>Te damos la bienvenida</b></h2>
                  <br />
                  <label class="label-sesion" for="login" (click)="openLogin()"
                      ><b>Iniciar Sesion</b>
                    </label>
                  <div id="formFooter">
                    <p>¿No estas registrado?</p>
                    <label class="label-button" for="register" 
                      ><b>REGISTRATE</b>
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-log" *ngIf="showLogin"  class="login">
                <div id="formContentLog">
                  <h1 ><b>Iniciar Sesion</b></h1>
                  <br />
                  <p class="error-p">{{authError}}</p>
                  <br>
                  <!-- Login Form -->
                  <form class="form-group" #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
                    <div class="col-10">
                      <input
                        type="email"
                        id="login"
                        class="form-control"
                        name="login"
                        placeholder="Correo Electronico"
                        formControlName="email"
                        ngModel
                        email
                        required
                      />
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="login"
                        formControlName="password"
                        placeholder="Contraseña"
                        ngModel
                        required
                      />
                    </div>
                  </form>
                  <button [disabled]="userLogin.invalid" class="form-button">Login</button>
                  <button class="buttonI form-button" [disabled]="userLogin.invalid" ><b>Ingresar</b></button>
                  <div id="formFooter">
                    <p>¿No estas registrado?</p>
                    <label class="label-button" for="register" (click)="openSignUp()"
                      ><b><span>REGISTRATE</span></b>
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-reg" *ngIf="!showLogin"  class="sign-up">
                <div id="formContentSign" >
                  <h1><b>Registrate</b></h1>
                  <br />
                  <div class="row-g3">
                    <!-- Register Form -->
                    <form class="form-group" #userSignUp="ngForm"  (ngSubmit)="signUp(userSignUp.value)" >
                      <div class="col-10">
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          name="name"
                          placeholder="Nombre"
                          formControlName="name"
                          ngModel
                          required
                        />
                        <input
                          type="text"
                          id="password"
                          class="form-control"
                          name="password"
                          placeholder="Apellido"
                          formControlName="lastName"
                          ngModel
                          required
                        />
                        <input
                          type="email"
                          id="login"
                          class="form-control"
                          name="login"
                          placeholder="Correo Electronico"
                          formControlName="email"
                          ngModel
                          required
                        />
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          name="login"
                          placeholder="Contraseña"
                          formControlName="password"
                          ngModel
                          required
                        />
                      </div>
                    </form>
                  </div>
                  <button class="buttonCC form-button" >
                    <b>Crear Cuenta</b>
                  </button>
                  <div id="formFooter-1">
                    <p>¿Estas registrado?</p>
                    <label class="label-button" for="rTOl" (click)="openLogin()" 
                      ><b>Inicio de Sesion</b>
                    </label>
                  </div>
                  <div id="formFooter-2">
                    <p>¿No estas registrado?</p>
                    <label class="label-button" for="register" (click)="openLogin()"
                      ><b><span>Inicio de Sesion</span></b>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--modal mobile-->
