<div class="container-fluid">
    <div id="formContentLog">
      <h1><b>Iniciar Sesion</b></h1>
      <br>
      <!-- Login Form -->
      <div class="form-group">
        <div class="col-10">
          <input type="text" id="login" class="form-control" name="login" placeholder="Correo Electronico">
          <input type="text" id="password" class="form-control" name="login" placeholder="Contraseña">
        </div>
      </div>
      <button class="buttonI"><b>Ingresar</b></button>
      <div id="formFooter">
        <p>¿No estas registrado?</p>
        <a href="#"><b>Registrate</b></a>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div id="formContentSign">
      <h1><b>Registrate</b></h1>
      <br>
    <div class="row-g3">
      <!-- Login Form -->
      <div class="form-group">
        <div class="col-10">
        <input type="text" id="login" class="form-control" name="login" placeholder="Nombre">
        <input type="text" id="password" class="form-control" name="login" placeholder="Apellido">
        <input type="text" id="login" class="form-control" name="login" placeholder="Correo Electronico">
        <input type="text" id="password" class="form-control" name="login" placeholder="Contraseña">
        </div>
      </div>
    </div>
      <button class="buttonCC"><b>Crear Cuenta</b></button>
      <div id="formFooter">
        <p>¿Estas registrado?</p>
        <a href="#"><b>Iniciar Sesion</b></a>
      </div>
    </div>
  </div>
  