
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContentLog {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 30vw;
  max-width: 30vw;
  height: 65vh;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}

#formContentSign {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 30vw;
  max-width: 30vw;
  height: 85vh;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}

#formFooter {
  padding: 25px;
  text-align: center;
}

h1 {
  color: #4e9b57;
  padding: 3%;
  
}

p{
  color: darkgrey;
}

a{
  color: #4e9b57
}


/* FORM TYPOGRAPHY*/

.button {
  background-color: #4e9b57;
  color: white;
 padding: 15px 60px;
  text-align: center;
  margin: 10%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2vh;
  border-radius: 15px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #55ab5f;
}



input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: start;
  font-size: 16px;
  width: 100%;
  border: 1px solid #0d0d0d;
  border-radius: 15px;
  margin: 3%;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #4e9b57;
}

input[type=text]:placeholder {
  color: #cccccc;
}

* {
  box-sizing: border-box;
}