.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.label-button{
  color: #9dcca3; 
  cursor: pointer;
}
.label-sesion{
  background-color: #4e9b57; 
  cursor: pointer; 
  color: white; 
  padding: 10px;
  font-size: 2vh;
  border-radius: 15px;
}

#formContentLog {
  min-width: 30vw;
  background: #fff;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}

#formContentSign {
  min-width: 30vw;
  background: #fff;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}


.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#formFooter,
#formFooter-1,
#formFooter-2 {
  padding: 25px;
  text-align: center;
}

h1 {
  color: #4e9b57;
  padding: 3%;
}

p {
  color: darkgrey;
}

a {
  color: #4e9b57;
  text-decoration: none;
}

/* FORM TYPOGRAPHY*/

.buttonI {
  background-color: #9dcca3;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.buttonI:hover {
  background-color: #4e9b57;
}

.buttonCC {
  background-color: #9dcca3;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10%;
  text-transform: uppercase;
  font-size: 2vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.buttonCC:hover {
  background-color: #4e9b57;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  /* background-color: #f6f6f6; */
  /* color: #0d0d0d; */
  /* padding: 15px; */
  text-align: start;
  font-size: 16px;
  border: 1px solid #0d0d0d;
  border-radius: 15px;
  /* margin-bottom: 1em; */
  box-sizing: border-box;
  margin-bottom: 15px;
}

input:focus {
  background-color: #fff;
  border: 2px solid #4e9b57;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/*Card rotation*/

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.card-3d-wrap {
  position: relative;
  width: 340px;
  height: 510px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 1000px;
  
}
.card-3d-wrapper-1{
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform ease-out;
}
.card-front,
.card-log,
.card-reg {
  width: 100%;
  height: 100%;
  background:none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
}

.card-reg {
  transform: rotateY(180deg);
}

.register:checked ~ .card-3d-wrap .card-3d-wrapper-1{
  transform: rotateY(180deg);
  transition: transform ease-out;
}

.rTOl:checked ~ .card-3d-wrap .card-3d-wrapper-1 {
  transform: rotateY(-180deg);
  transition: transform ease-out;
}

@media only screen and (max-width: 800px) {
  #formContentHome {
    min-width: 85vw;
    background: #fff;
    position: relative;
    padding-top: 4vh;
    padding-bottom: 4vh;
    text-align: center;
    border-radius: 35px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
  }

  .card-log {
    transform: rotateY(180deg);
  }
  .card-reg {
    transform: rotateY(90deg);
  }
  .login:checked ~ .card-3d-wrap .card-3d-wrapper-1{
    transform: rotateY(180deg);
    transition: transform ease-out;
  }
  .register:checked ~ .card-3d-wrap .card-3d-wrapper-1 {
    transform: rotateY(270deg);
    transition: transform ease-out;
  }
  .rTOl:checked ~ .card-3d-wrap .card-3d-wrapper-1 {
    transform: rotateY(-180deg);
    transition: transform ease-out;
  }
  #formFooter-2{
    display: none;
  }

  #formContentLog,
  #formContentSign  {
    min-width: 80vw;
  }
}

@media only screen and (min-width: 800px) {
  #formContentHome {
    display: none;
  }
  #formFooter-1{
    display: none;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}