
.container-fluid {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 1em;
}

#formContentLog {
  min-width: 30vw;
  background: #fff;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}

#formContentSign {
  min-width: 30vw;
  background: #fff;
  position: relative;
  padding-top: 10vh;
  text-align: center;
  border-radius: 35px;
  border: solid black 1px;
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

#formFooter {
  padding: 25px;
  text-align: center;
}

h1 {
  color: #4e9b57;
  padding: 3%;
}

p{
  color: darkgrey;
}

a{
  color: #4e9b57;
  text-decoration: none;
}


/* FORM TYPOGRAPHY*/

.buttonI {
  background-color: #9DCCA3;
  color: white;
 padding: 15px;
  text-align: center;
  margin: 10%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.buttonI:hover {background-color: #4e9b57}

.buttonCC {
  background-color: #9DCCA3;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 10%;
  text-transform: uppercase;
  font-size: 2vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 50%;

}

.buttonCC:hover {background-color: #4e9b57}



input[type=text] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px;
  text-align: start;
  font-size: 16px;
  border: 1px solid #0d0d0d;
  border-radius: 15px;
  margin-bottom: 1em;
  box-sizing: border-box;
}

input:focus {
  background-color: #fff;
  border: 2px solid #4e9b57;
}

input[type=text]:placeholder {
  color: #cccccc;
}
