<div *ngFor="let cart of cartData" class="single-cart-product" >
  <div class="img-title" >
    <img id="cart-img" src="{{ cart.image }}" alt="" />
    <h3 class="name">{{ cart.name }}</h3>
  </div>
  <div 
    *ngIf="singleProductCount !== 0"
    class="number-input justify-content-center align-items-center">
    <div class="number-input-box">
      <button
      (click)="handleQuantity('min')">
        <i class="bi bi-dash" style="color: white"></i>
      </button>
      <input
        class="quantity"
        min="0"
        name="quantity"
        (click)="handleQuantity('plus')"
        value="{{cart.quantity}}"
        type="number"
      />
      <button
        (click)="onAddToCart()">
        <i class="bi bi-plus" style="color: white"></i>
      </button>
    </div>
  </div>
  <h3 class="price">${{cart.price}}</h3>
</div>

