<div *ngIf="singleProductCount !== 0" class="single-cart-product">
  <div class="img-title">
    <img id="cart-img" src="{{ cartProduct.product.image }}" alt="" />
    <h3 class="name">{{ cartProduct.product.name }}</h3>
  </div>
  <div 
    *ngIf="singleProductCount !== 0"
    class="number-input justify-content-center align-items-center">
    <div class="number-input-box">
      <button
        (click)="onDelete()">
        <i class="bi bi-dash" style="color: white"></i>
      </button>
      <input
        class="quantity"
        min="0"
        name="quantity"
        (change)="updateQuantity()"
        value="{{ singleProductCount }}"
        type="number"
      />
      <button
        (click)="onAddToCart()">
        <i class="bi bi-plus" style="color: white"></i>
      </button>
    </div>
  </div>
  <h3 class="price">${{ totalPrice }}</h3>
</div>

