<div class="shooping-cart-container">
  <h1 style="margin: 40px; font-size: 45px"><b>Mi Carrito</b></h1>
  <div class="table-price-container">
    <div class="table">
      <div class="table-titles">
        <h3>Resumen de mi Compra</h3>
        <h3>Cantidad</h3>
        <h3>Precio</h3>
      </div>
      <div class="cart-single">
        <app-shopping-cart-single
          *ngFor="let cartProduct of cartProducts"
          [cartProduct]="cartProduct"
        ></app-shopping-cart-single>
      </div>
    </div>
    <div class="price">
      <div class="price-subsection">
        <h3 class="price-title">Resumen del pedido</h3>
      </div>
      <div class="price-subsection">
        <h3 class="price-title">
          Subtotal:<span class="money">{{ totalPrice | currency }}</span>
        </h3>
      </div>
      <div class="price-subsection">
        <h3 class="price-title">
          <b>TOTAL:</b
          ><span class="money"
            ><b>{{ totalPrice | currency }}</b></span
          >
        </h3>
      </div>
      <button class="pay" (click)="redirectTo()">CONTINUAR</button>
    </div>
  </div>
</div>
