<div class="products-container">
<!-- 
  <div class="row d-flex flex-column position-relative">
    <div class="col-sm-12">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="../../../assets/img/home-banner-mobile.png"
        />
        <source
          media="(max-width: 900px)"
          srcset="../../../assets/img/home-banner-mobile.png"
        />
    
        <img
          id="home-banner"
          src="../../../assets/img/home-banner2.png"
          alt="big-banner-logo"
        />
      </picture>
      <div class="row position-absolute-bottom align-items-center justify-content-end">
        <div class="col-12 col-sm-12 bg-5 text-center ">
          <h1 style="color: white; size: 5rem;">COMIDA SANA A LA PUERTA DE TU CASA</h1>
        </div>
      </div>
    </div>
  </div>
  <img
    id="home-banner"
    src="../../../assets/img/home-banner2.png"
    alt="home-banner"
  /> -->
  <div class="grid" >
    <mat-card class="mat-card" style="text-align: center; " *ngFor="let product of allProducts">
      <img mat-card-image id="card-image" routerLink="product-info/{{product.id}}" src="{{ product.image }}" alt="" />
    
      <mat-card-header>
        <mat-card-title class="title">{{ product.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="price">{{ product.price | currency }}</p>
      </mat-card-content>
    
      <button
        *ngIf="singleProductCount == 0"
        class="add-to-cart-button"
        (click)="onAddToCart()"
        onclick="singleProductCount++"
      >
        Agregar
      </button>
      <div
        *ngIf="singleProductCount !== 0"
        class="number-input justify-content-center align-items-center"
        style="border: none"
      >
        <div style="border: none">
          <button
            (click)="handleQuantity('min')"
            class="plus-minus"
          >
            <i class="bi bi-dash" style="color: white"></i>
          </button>
          <input
            class="quantity"
            min="0"
            name="quantity"
            value="{{ singleProductCount }}"
            type="number"
          />
          <button
          (click)="handleQuantity('plus')"
            class="plus-minus"
          >
            <i class="bi bi-plus" style="color: white"></i>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
