<div class="products-container">

  <section class="banner d-flex flex-column align-items-center justify-content-end">
    <div class="bg-5 text-center">
      <h1 style="color: white;">COMIDA SANA A LA PUERTA DE TU CASA</h1>
    </div>
  </section>

<!-- 
  <div class="row d-flex flex-column position-relative">
    <div class="col-sm-12">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="../../../assets/img/home-banner-mobile.png"
        />
        <source
          media="(max-width: 900px)"
          srcset="../../../assets/img/home-banner-mobile.png"
        />
    
        <img
          id="home-banner"
          src="../../../assets/img/home-banner2.png"
          alt="big-banner-logo"
        />
      </picture>
      <div class="row position-absolute-bottom align-items-center justify-content-end">
        <div class="col-12 col-sm-12 bg-5 text-center ">
          <h1 style="color: white; size: 5rem;">COMIDA SANA A LA PUERTA DE TU CASA</h1>
        </div>
      </div>
    </div>
  </div>
  <img
    id="home-banner"
    src="../../../assets/img/home-banner2.png"
    alt="home-banner"
  /> -->
  <div class="grid">
    <app-single-product
      *ngFor="let product of arrayProducts"
      [product]="product"
    >
    </app-single-product>
  </div>
</div>
