.products-container {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
#home-banner {
  width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

@media (max-width: 468px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 20px;
  }
  #home-banner {
    height: 150px;
  }
}
 
@media only screen and (max-width: 900px) {
  .banner {
    height: 20vh;
    width: 100vw;
    background-image: url("src/assets/img/home-banner-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 901px) {
.banner {
  height: 40vh;
  width: 100vw;
  background-image: url("src/assets/img/home-banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 3rem;
}
}