
  <div class="container"> 
    <div class="table-body" >
        <div class="button">
            <label><p>Añadir productos <img src="\assets\img\🦆 icon _add circled outline_.png" alt=""></p></label>
        </div>
        <table class="table">
            <thead >
              <tr class="thead">
                <th class="title" scope="col">Imagen</th>
                <th class="title" scope="col">Descripcion</th>
                <th class="title" scope="col">Stock</th>
                <th class="title" scope="col">Precio</th>
                <th class="title" scope="col">Precio</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of arrayProducts">
              <tr>
                <td class="content1">
                    <img src="{{ product.image }}" alt="">
                </td>
                <td class="content2">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                </td>
                <td class="content3">
                    <input type="number">
                </td>
                <td class="content4">
                   <p> {{ product.price | currency }}</p>
                </td>
                <td class="content5">
                    <img src="\assets\img\🦆 icon _edit pencil_.png" alt="">
                    <img src="\assets\img\🦆 icon _trash_.png" alt="">
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>