
  <div class="container"> 
    <div class="table-body" >
        <div class="button">
            <label routerLink="/admin-home/create-food"><p>Añadir productos <img src="\assets\img\🦆 icon _add circled outline_.png" alt=""></p></label>
        </div>
        <table class="table">
            <thead >
              <tr class="thead">
                <th class="titleImage" scope="col">Imagen</th>
                <th class="title" scope="col">Descripcion</th>
                <th class="title" scope="col">Stock</th>
                <th class="title" scope="col">Precio</th>
                <th class="title" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of producto">
                <td class="content1">
                    <img src="{{ product.image }}" alt="">
                </td>
                <td class="content2">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                </td>
                <td class="content3">
                    <p>{{ product.stock}}</p>
                </td>
                <td class="content4">
                   <p> ${{ product.price}}</p>
                </td>
                <td class="content5">
                  <button
                  mat-icon-button>
                  <img src="\assets\img\🦆 icon _edit pencil_.png" alt="" routerLink="/admin-home/update-food">
                </button>
                <button
                  mat-icon-button>
                  <img src="\assets\img\🦆 icon _trash_.png" alt="">
                </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>