<mat-toolbar>
  <button class="menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <img
    routerLink="/home"
    id="logo"
    src="../../../assets/img/logo-white.svg"
    alt="home-logo"
  />
  <div class="nav-bar-container">
    <div [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'" >
       <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          data-toggle="modal"
          data-target="#admin"
        >
          <img src="\assets\img\🦆 icon _profile circled_.png" alt="">
        </button>
       <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          data-toggle="modal"
          data-target="#user"
        >
          <img src="\assets\img\🦆 icon _profile circled_.png" alt="">
        </button>
       <button
          mat-icon-button
          class="shopping-cart"
          routerLink="/home/shopping-cart"
          >
          <mat-icon  matBadgeColor="warn"><img src="\assets\img\🦆 icon _cart_.png" alt="">({{cartItems}})</mat-icon>
        </button>
      </ul>
      <ul *ngSwitchCase="'user'" >
       <a> <h4 class="user-p">
          {{userName | titlecase}} {{userLastName | titlecase}}
        </h4></a>
       <button
          mat-icon-button
          class="shopping-cart"
          routerLink="/home/shopping-cart"
          >
          <mat-icon  matBadgeColor="warn"><img src="\assets\img\🦆 icon _cart_.png" alt="">({{cartItems}})</mat-icon>
        </button>
       <a (click)="userLogout()" >Logout</a>
       <a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a>
      </ul>
      <ul *ngSwitchCase="'admin'" >
       <a routerLink="/home/food-create">Add Product</a>
       <button mat-icon-button>
            <img src="\assets\img\🦆 icon _bell_.png" alt="">
          </button>
       <a (click)="logout()">Logout</a>
       <a href="#"> <h4 class="user-p">
          {{adminName | titlecase}}{{adminLastName | titlecase}}
        </h4></a>
      </ul>
     </div>
  </div>
</mat-toolbar>


<!--Modal-Content user-->
<div
  class="modal fade"
  id="user"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: none; border: none">
      <app-login></app-login>
    </div>
  </div>
</div>

<!--Modal-Content admin-->
<div
  class="modal fade"
  id="admin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: none; border: none">
      <app-admin-login></app-admin-login>
    </div>
  </div>
</div>

<!--Banner-->
<section class="banner d-flex flex-column align-items-center justify-content-end">
  <div class="bg-5 text-center">
    <h1 style="color: white;">COMIDA SANA A LA PUERTA DE TU CASA</h1>
  </div>
</section>