.mat-toolbar {
  background: linear-gradient(90deg, #4e9b57 0%, #6abd74 48.33%, #4e9b57 100%);
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 200px;
  object-fit: contain;
}
.menu {
  display: none;
}
@media (max-width: 475px) {
  .user {
    display: none;
  }
  .menu {
    display: flex;
  }
}
