@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.row{
  height: 90vh;
  width: 100%;
}
.product{
  border-radius: 50%;
}

.title{
  color: #656565; 
  font-size: 40px;
  font-weight: bold;
}

.description{
  color: #656565; 
  font-size: 32px;
}

.price{
  color:#4e9b57; 
  font-size: 36px;
  font-weight: bold;
}

.add-cart{
  background-color: #9dcca3; 
  cursor: pointer; 
  color: white; 
  padding: 15px;
  font-size: 28px;
  border-radius: 10px; 
  height: 62px; 
  width: 213px ; 
  text-align: center; 
  border: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
  padding-top: 20px; 
  border: none; 
  padding-bottom: 20px;
}

.number-input-box{
  border: solid #9dcca3; 
  width: 213px; 
  border-radius:10px;
}


.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  background: none;
  background-color: #9dcca3; 
  border-radius: 10px; 
  width: 38px; 
  height: 32px; 
  margin: 5px;
}

.number-input button:after {
  display: inline-block;
  position: absolute; 
  font-weight: 900;
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  align-items: center; 
  color: #656565; 
  font-size: 30px; 
  width: 110px;
  border: none; 
}


@media only screen and (min-width: 800px) {
  .responsive{
   display: none;
  }
 }
  @media only screen and (max-width: 800px) {
   .noresponsive{
    display: none;
   }
  }


  @media only screen and (max-width: 800px) {
    .profile-row .dp img {
      max-width: 80vw;
      border-radius: 50%;
      display: block;
      border: none;
    }
    .space{
      display: none;
    }

    .product{
      width: 80vw;
    }
  }
