<div class="id-card-wrapper">
  <div class="id-card col-12">
    <div class="profile-row">
      <div class="col-1"></div>
      <div class="dp col-4">
        <img src="https://via.placeholder.com/420x420">
      </div>
      <div class="col-2"></div>
      <div class="desc col-4">
        <h1 style="color: #656565; font-size: 40px;"><b>name</b></h1><br>
          <p style="color: #656565; font-size: 32px;">description</p><br>
          <h1 style="color:#4e9b57; font-size: 36px;"><b>price</b></h1><br>
          <button style="background-color: #9dcca3; cursor: pointer; color: white; padding: 15px;font-size: 28px;
          border-radius: 10px; height: 62px; width: 213px ; text-align: center; border: none;"
            >AGREGAR
            </button>

          <nav  aria-label="Page navigation example" style="padding-top: 20px;">
            <ul class="pagination">
              <li><a class="page-link" style="background-color: #9dcca3; border-radius: 10px; 
              width: 38px; height: 32px;"
                ><i class="bi bi-plus" style="color: white;"></i></a></li>
              <li><a class="page-link" style="align-items: center; color: #656565; font-size: 30px;
              padding-left: 50px; padding-right: 50px;"
                >1</a></li>
              <li><a class="page-link" style="background-color: #9dcca3;border-radius:10px; 
              width: 38px; height: 32px;"
                ><i class="bi bi-dash" style="color: white;"></i></a></li>
            </ul>
          </nav>
          <br>
          <p style="color:#9dcca3; font-size: 36px;">
            <i class="bi bi-clock" style="color:#4e9b57; width: 36px;"></i>Tiempo estimado</p>
      </div>
    </div>
  </div>
</div>