label p{
    color: #656565;
    font-size: 2vh;
}
h1{
    color:#656565 ;
    font-size: 3vh;
    font-weight: bold;
}

.label-button{
    padding-top: 1vh;
    background-color: #9dcca3; 
    cursor: pointer;
    border-radius: 15px;
    height: 5vh;
    width: 10vw;
    @media only screen and (max-width: 500px) {
        width: 30vw;
    }
  }
  .label-button p{
    color: white;
  }

#fotoprueba{
    position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 6px gray;
}