<section class=" d-flex align-items-center section-bg">
    <div class="shooping-cart-container">
      <h1 style="margin: 40px; font-size: 45px;"><b>Pedidos</b></h1>
      <div class="table-price-container row justify-content-between gy-5">
        <div class="table col-lg-5 order-1 order-lg-1 d-flex flex-column">
        <div class="table-titles">
          <h3>Plato</h3>
          <h3>Cantidad</h3>
          <h3>Pago</h3>
          <h3>Direccion de envio</h3>
          <h3>Cliente</h3>
        </div>
        <div class="cart-single">
            <div  class="single-cart-product">
                <div class="img-title">
                  <img id="cart-img" src="" alt="" />
                  <h3 class="name"></h3>
                </div>
              </div>
        </div>
        </div>
        <h3 class="price-title">Estatus</h3>
        <div class="price col-lg-5 order-2 order-lg-2 d-flex flex-column">
        
  
      </div>
    </div>
    </div>
  </section>
