<div class="container">
    <div class="row">
        <div class="form flex-column justify-content-center align-items-center">
            <div class="header-form text-center">
                    <h1 style="font-size: 40px;">Direccion de envio</h1>
            </div>
            <form action="">
                <div class="body-form">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Sizing example input" 
                        aria-describedby="inputGroup-sizing-lg" placeholder="Nombre completo:">
                      </div>
                      <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Sizing example input" 
                        aria-describedby="inputGroup-sizing-lg"  placeholder="Direccion:">
                      </div>
                      <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Sizing example input"  placeholder="Provincia:"
                        aria-describedby="inputGroup-sizing-lg" style="width: 45%; margin-right: 10px;">
                        <input type="text" class="form-control" aria-label="Sizing example input"  placeholder="Ciudad:"
                        aria-describedby="inputGroup-sizing-lg" style="width: 45%;">
                      </div>
                      <div class="input-group input-group-lg" style="width: 50%;">
                        <input type="text" class="form-control" aria-label="Sizing example input"  placeholder="Telefono:" 
                        aria-describedby="inputGroup-sizing-lg">
                      </div>
                </div>
                <div class="footer-form">
                    <div class="radio-check">
                        <h3>Modalidad de pago:</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              <h3>Credito</h3>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                              <h3>Efectivo</h3>
                            </label>
                          </div>
                    </div>
                      <p style="font-size: 22px;">Deberas pagar directamente a tu delivery</p>
                        <div class="finish align-items-lg-end  text-lg-end alin">
                            <label for="login" class="text-center"
                        style="background-color: #9dcca3; cursor: 
                        pointer; color: white;font-size: 3vh;
                        border-radius: 15px; height: 60px; width: 300px; padding-top: 20px;"
                      ><b>FINALIZAR</b>
                    </label>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>