.container{
    padding-bottom: 5%;
}
.form-check{
    display: inline-block;
    margin: 0 10px;
    margin-left: 20px;
    @media only screen and (max-width: 500px) {
        text-align: center;
      }

}
.radio-check{
    display: flex;
	flex-flow: row wrap;
    @media only screen and (max-width: 500px) {
        display: inline-block;
      }
}

.header-form{
    margin-top: 60px;
    margin-bottom: 40px;
}

.input-group{
    margin-bottom: 10px; 
}

input{
    border-radius: 10px;
    border: solid 2px #9dcca3;
}

.footer-form{
    margin-top: 60px;
    @media only screen and (max-width: 500px) {
        text-align: center;
      }
    
}

.footer-form .finish{
    text-align: right;
    
}
h3{
    font-size: 25px;
}

p, h1, h3{
    color: #656565;
    font-weight: bold;
}

input::placeholder{
    font-size: 25px;
    font-weight: bold;
}

[type="radio"]:checked{
    background-color: #9dcca3;

}
 .p{
    @media only screen and (max-width: 500px) {
        padding-top: 40px;
      }
 }
.finish{
 padding-top: 20px;
 justify-content: right;
}
.label{
    background-color: #9dcca3; 
    cursor: pointer; 
    color: white;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 15px; 
    height: 60px; 
    width: 300px; 
    padding-top: 20px;
    text-align: center;

    @media only screen and (max-width: 500px) {
        width: 100%;
      }
}