<section class="inline-block align-items-center section-bg">
        <nav class="navbar">
            <div class="row justify-content-between">
                <div class="col-lg-5 order-1 order-lg-1 d-flex flex-column 
      justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h1>Si Quieres recibir ofertas<img src="\assets\img\🦆 icon _leaf_.png" alt="" style="color: white;"></h1>
                </div>
                <div class="search col-lg-5 order-2 order-lg-2 d-flex flex-column 
      justify-content-center align-items-center align-items-lg-end text-center text-lg-start">
                <form class="d-flex" role="search">
                <input class="input form-control me-2 lg-order-2" type="search" placeholder="Escribe tu correo" aria-label="Search"
                style="width: 20vw; height: 5vh;">
                <button class="btn" type="submit" style="width: 10vw;">Sign Up</button>
              </form>
                </div>
            </div>
          </nav>
</section>
<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Siguenos:</h3>

        <h1 class="footer-links">
            <i class="bi bi-instagram"></i>
        </h1>
      </div>

      <div class="footer-center">
        
        <div>
            <h3>Contactanos:</h3>
          </div>

        <div>
          <p>Av.Santa Fe 456, Provincia de Buenos Aires</p>
        </div>

        <br>

        <div>
          <p>Telefono: +54 9 3216 87-1203</p>
        </div>


      </div>

      <div class="footer-right">

        <img src="\assets\img\image 1.png" alt="">

      </div>

    </footer>